body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 0; /* required so that IE11 centers */
    margin: 0;
    font-family: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
}

/*-------------------- BUTTON --------------------*/

button {
    flex-shrink: 0;
    width: 2em;
    height: 2em;
    padding: .25em;
    background-color: transparent;
    border: 0;
    font-family: inherit;
    font-size: 1.5rem;
    position: relative;
}

.btn-erase {
    color:tomato;
}

.btn-del,
.btn-dot {
    font-weight: bold;
}

.btn-parens {
    color:violet;
}

.btn-operation {
    color: #FCBE16;
}

.btn-equals {
    color:rgb(117, 255, 186);
}

.btn-number {
    color: rgb(244, 244, 244);
}

button:not(:last-child) {
    margin-right: .5rem;
}

/*-------------------- CONTAINER --------------------*/

.calculator {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
}

.container {
    padding: 1rem;
}

.output {
    color: white;
    background-color: black;
    background: linear-gradient(to bottom, black 95%, #454545 100%);
}

.expression {
    margin-bottom: .5em;
    font-size: 1.25rem;
}

.operand {
    font-size: 2.5rem;
}

.row {
    display: flex;
}

.row:not(:last-child) {
    margin-bottom: .5rem;
}

.buttons-container {
    background-color: #454545;
}