body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
}

/*-------------------- UTILITY --------------------*/

@keyframes blinking {
    from {opacity: 0;}
    to {opacity: 1;}
}

.sr-only {
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; 
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

/*-------------------- JS --------------------*/

.calc .js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

.calc .js-focus-visible .focus-visible {
    outline: 2px solid limegreen;
    outline-offset: -2px;
}

@supports selector(:focus-visible) {
    .calc :focus:not(:focus-visible) {
        outline: none;
    }

    .calc :focus-visible {
        outline: 2px solid limegreen;
        outline-offset: -2px;
    }
}

.calc.js-calc-active .cursor {
    animation: blinking 0.5s cubic-bezier(.25,1,.25,1) infinite alternate;
}

.calc.js-history-open .history {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
    transition: transform 200ms cubic-bezier(0,.9,.1,.99),
                opacity 200ms,
                visibility 0s 0s;
}

.calc.js-history-open .calculation-btns {
    visibility: hidden;
    transition: visibility 0s 200ms;
}

.calc.js-help-open .help {
    visibility: visible;
    opacity: 1;
    transition: opacity 100ms,
                visibility 0s 0s;
}

.calc.js-help-open .non-help {
    visibility: hidden;
    transition: visibility 0s 100ms;
}

.calc.js-light-theme {
    --options-bgclr: whitesmoke;
    --btn-option-inactive-clr: rgba(0, 0, 0, 0.4);
    --btn-option-clr: #2F2F2F;
    --btn-option-clr-hover: rgb(210, 210, 210);
    --btn-option-clr-active: rgb(195, 195, 195);

    --output-bgclr: white;
    --output-clr: #2F2F2F;
    --output-border-clr: silver;

    --calculation-btns-bgclr: whitesmoke;
    --calculation-btns-bg: linear-gradient(whitesmoke, silver);

    --btn-number-clr: #2F2F2F;
    --btn-erase-clr: rgb(200, 81, 60);
    --btn-paren-clr: rgb(182, 58, 182);
    --btn-equals-clr: rgb(1, 139, 70);
    --btn-operator-clr: #a77a00;
    --btn-bgclr-active: rgba(0, 0, 0, .1);

    --btn-history-clear-clr-hover: blue;
}

/*-------------------- IMAGE --------------------*/

.calc svg {
    display: block;
    width: 100%;
    height: 100%;
}

/*-------------------- TEXT --------------------*/

.calc .cursor {
    opacity: 0;
}

.calc .missing-parens {
    opacity: 0.5;
}

.calc .result-current {
    font-size: var(--btn-fs);
}

.calc .result-history {
    font-size: calc(0.8 * var(--btn-fs));
}

.calc .history-expression {
    font-size: calc(0.6 * var(--btn-fs));
}

.calc .no-history-msg {
    padding: var(--padding);
    font-size: calc(0.5625 * var(--btn-fs));
    color: var(--output-clr);
    text-align: center;
}

.calc .help-title {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: calc(1.25 * var(--help-topic-fs));
    text-align: center;
}

.calc .help-topic-title {
    margin-top: 0;
    margin-bottom: 0.4em;
    border-bottom: 0.1em solid var(--output-border-clr);
    font-size: var(--help-topic-fs);
    letter-spacing: 0.05em;
    text-align: center;
}

.calc .help-body p {
    margin: 0;
    font-size: calc(0.85 * var(--help-topic-fs));
    word-spacing: 0.1em;
}

.calc .help-body p:not(:last-child) {
    margin-bottom: 0.5em;
}

.github-text {
    margin: 2em 1em 1em;
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.4;
}

/*-------------------- LINK --------------------*/

.calc .skip-to-clear-history {
    position: absolute;
    z-index: -1;
    background: white;
    color: hsl( var(--clr-dark) ); 
    padding: .5em 1em;
    margin-inline: auto;
    transition: transform 250ms ease-in;
}

.calc .skip-to-clear-history:focus {
    z-index: 1;
}

/*-------------------- BUTTON --------------------*/

.calc .btn {
    width: 25%;
    min-width: calc(0.8 * var(--btn-width));
    height: var(--btn-width);
    padding: var(--btn-padding);
    margin: var(--btn-margin);
    background-color: transparent;
    border: 0;
    border-radius: 25%;
    font-family: inherit;
    font-size: var(--btn-fs);
    position: relative;
    transition: background-color 500ms ease-out;
}

@media (hover:hover) {
    .calc .btn:hover {
        background-image: radial-gradient(circle, var(--btn-bgclr-active) 35%, rgba(255, 255, 255, 0) 75%);
    }
}

.calc .btn:active {
    background-color: var(--btn-bgclr-active);
    transition: none;
}

.calc .btn:not(.btn-number) {
    font-weight: bold;
}

.calc .btn.btn-operator,
.calc .btn.btn-back,
.calc .btn.btn-equals {
    padding-bottom: .4em;
}

.calc .btn-clear,
.calc .btn-back {
    color: var(--btn-erase-clr);
}

.calc .btn-paren {
    color: var(--btn-paren-clr);
}

.calc .btn-left-paren::after {
    content: var(--content, "");
    position: absolute;
    bottom: 0;
    left: 1.8em;
    font-size: .6em;
}

.calc .btn-operator {
    color: var(--btn-operator-clr);
}

.calc .btn-equals {
    color: var(--btn-equals-clr);
}

.calc .btn-number,
.calc .btn-dot {
    color: var(--btn-number-clr);
}

.calc .btn-option {
    width: calc(1.2 * var(--btn-fs));
    height: calc(1.2 * var(--btn-fs));
    padding: var(--btn-option-padding);
    margin: 0;
    border: 0;
    background-color: transparent;
}

.calc .btn-toggle-history {
    left: calc(var(--padding) - var(--btn-option-padding));
}

.calc .btn-close-help {
    margin-right: auto;
}

.calc .output-history { /* it's a button */
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: transparent;
    border: none;
    font-family: inherit;
}

.calc .btn-history-clear {
    --bgcolorPos: 0%;
    display: block;
    width: 100%;
    height: var(--btn-history-clear-height);
    padding: 0;
    background-color: var(--output-bgclr);
    border: none;
    border-top: var(--border-width) solid var(--output-border-clr);
    font-size: calc(0.4 * var(--btn-history-clear-height));
    font-family: inherit;
    color: var(--btn-number-clr);
    user-select: none;
}

@media (hover:hover) {
    .calc .btn-option:hover,
    .calc .output-history:hover,
    .calc .btn-history-clear:hover {
        background-color: var(--btn-option-clr-hover);
    }
}

.calc .btn-option:active,
.calc .output-history:active {
    background-color: var(--btn-option-clr-active);
}

/*-------------------- CONTAINER --------------------*/

.calc {
    --btn-fs: 2rem; /* controls the calculator size */

    --padding: calc(0.5 * var(--btn-fs));
    --btn-width: calc(1.8 * var(--btn-fs));
    --btn-padding: calc(0.25 * var(--btn-fs));
    --btn-margin: calc(0.125 * var(--btn-fs));
    --border-width: calc(0.0625 * var(--btn-fs));

    --options-bgclr: #2F2F2F;
    --btn-option-inactive-clr: rgba(255, 255, 255, 0.4);
    --btn-option-clr: rgb(235, 235, 235);
    --btn-option-clr-hover: rgb(90, 90, 90);
    --btn-option-clr-active: rgb(105, 105, 105);

    --output-bgclr: black;
    --output-clr: rgb(218, 218, 218);
    --output-border-clr: gray;

    --calculation-btns-bgclr: #2F2F2F;
    --calculation-btns-bg: linear-gradient( #2F2F2F, black);

    --btn-number-clr: rgb(218, 218, 218);
    --btn-erase-clr: tomato;
    --btn-paren-clr: violet;
    --btn-equals-clr: rgb(117, 255, 186);
    --btn-operator-clr: #FCBE16;
    --btn-bgclr-active: rgba(255, 255, 255, 0.2);

    --btn-history-clear-clr-hover: gold;

    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: calc(4 * var(--btn-width) + 8 * var(--btn-margin) + 2 * var(--padding));
    min-width: calc(0.8 * (4 * var(--btn-width) + 8 * var(--btn-margin) + 2 * var(--padding)));
    border-radius: calc(0.2 * var(--btn-fs));
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
}

.calc .main-options,
.calc .help-options {
    --btn-option-padding: calc(0.28125 * var(--btn-fs));
    display: flex;
    justify-content: space-between;
    padding: 0 calc(var(--padding) - var(--btn-option-padding));
    background-color: var(--options-bgclr);
}

.calc .calculation-btns {
    background-color: var(--calculation-btns-bgclr);
    background-image: var(--calculation-btns-bg);
}

.calc .btn-row {
    display: flex;
    justify-content: center;
}

.calc .output,
.calc .calculation-btns {
    padding: calc(0.5 * var(--padding)) var(--padding);
}

.calc .output-current {
    background-color: var(--output-bgclr);
    border-width: var(--border-width) 0;
    border-style: solid;
    border-color: var(--output-border-clr);
}

.calc .output {
    --output-line-height: 1.25em;
    --expr-result-margin: .25em;
    color: var(--output-clr);
    text-align: left;
    word-break: break-all;
}

.calc .result {
    min-height: calc(2 * var(--output-line-height));
}

.calc .expression-container {
    min-height: var(--output-line-height);
    margin-bottom: var(--expr-result-margin);
}

.calc .expression-container-current {
    font-size: calc(0.75 * var(--btn-fs));
}

.calc .input {
    position: relative;
}

.calc .history {
    --btn-history-clear-height: calc(1.2 * var(--btn-fs));
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 200ms cubic-bezier(.8,0,.99,.2),
                opacity 150ms 50ms,
                visibility 0s 200ms;
}

.calc .expression-container-history {
    font-size: calc(0.6 * var(--btn-fs));
}

.calc .history-list-container {
    overflow: auto;
    height: calc(100% - var(--btn-history-clear-height));
    background-color: var(--options-bgclr);
}

.calc .history-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.calc .history-list-item {
    border-bottom: var(--border-width) dashed var(--output-border-clr);
}

.calc .help {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--options-bgclr);
    opacity: 0;
    transition: opacity 100ms,
                visibility 0s 100ms;
}

.calc .help-body {
    --help-topic-fs: calc(0.55 * var(--btn-fs));
    padding: var(--padding);
    color: var(--output-clr);
}

.calc .help-topic {
    margin-bottom: calc(0.5 * var(--btn-fs));
}

.calc .non-help {
    position: relative;
    visibility: visible;
    transition: visibility 0s 0s;
}
