body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
}

/*-------------------- UTILITY --------------------*/

@keyframes blinking {
    from {opacity: 0;}
    to {opacity: 1;}
}

/*-------------------- JS --------------------*/

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.js-focus-visible .focus-visible {
    outline: 2px solid red;
    outline-offset: -2px;
}

.calc-btn-theme.js-active-theme {
    color: var(--btn-theme-selected-clr);
}

.js-calc-active .cursor {
    animation: blinking 0.5s cubic-bezier(.25,1,.25,1) infinite alternate;
}

.js-history-open .calc-history {
    transform: translateY(0);
    opacity: 1;
}

.calc.js-light-theme {
    --btn-number-clr: #2F2F2F;
    --btn-erase-clr: rgb(200, 81, 60);
    --btn-paren-clr: rgb(182, 58, 182);
    --btn-equals-clr: rgb(1, 139, 70);
    --btn-operation-clr: #a77a00;
    --btn-active-bgclr: rgba(0, 0, 0, .1);
    --btn-focus-visible-clr: black;
    --btns-bgclr: whitesmoke;
    --btns-bg: linear-gradient( whitesmoke, silver);
    --options-bgclr: whitesmoke;
    --btn-option-clr: rgba(0, 0, 0, 0.4);
    --btn-theme-selected-clr: #2F2F2F;
    --btn-option-hover-clr: rgb(210, 210, 210);
    --btn-option-active-clr: rgb(195, 195, 195);
    --output-bgclr: white;
    --output-clr: #2F2F2F;
    --output-border: silver;
}

/*-------------------- TEXT --------------------*/

.cursor {
    opacity: 0;
}

.calc-result {
    min-height: var(--display-min-height);
    font-size: var(--btn-fs);
}

.calc-expression-missing-parens {
    opacity: 0.5;
}

.calc-history-result {
    word-break: break-all;
    font-size: calc(0.8 * var(--btn-fs));
}

.calc-history-expression {
    margin-bottom: var(--output-separation);
    word-break: break-all;
    font-size: calc(0.6 * var(--btn-fs));
    letter-spacing: 1px;
}

/*-------------------- BUTTON --------------------*/

.calc-btn {
    flex-shrink: 0;
    width: var(--btn-width);
    height: var(--btn-width);;
    padding: var(--btn-padding);
    margin: var(--btn-margin);
    background-color: transparent;
    border: 0;
    border-radius: 25%;
    font-family: inherit;
    font-size: var(--btn-fs);
    position: relative;
    transition: background-color 500ms ease-out;
}

.calc-btn:hover {
    background: radial-gradient(circle, var(--btn-active-bgclr) 35%, rgba(255, 255, 255, 0) 75%);
}

@media (hover:none) {
    .calc-btn:hover {
        background: none;
    }
}

.calc-btn:active {
    background-color: var(--btn-active-bgclr);
    transition: none;
}

.calc-btn:not(.calc-btn-number) {
    font-weight: bold;
}

.calc-btn.calc-btn-operation,
.calc-btn.calc-btn-back,
.calc-btn.calc-btn-equals {
    padding-bottom: .4em;
}

.calc-btn-clear,
.calc-btn-back {
    color: var(--btn-erase-clr);
}

.calc-btn-paren {
    color: var(--btn-paren-clr);
}

.calc-btn-left-paren::after {
    content: var(--content, "");
    position: absolute;
    bottom: 0;
    left: 1.8em;
    font-size: .6em;
}

.calc-btn-operation {
    color: var(--btn-operation-clr);
}

.calc-btn-equals {
    color: var(--btn-equals-clr);
}

.calc-btn-number,
.calc-btn-dot {
    color: var(--btn-number-clr);
}

.calc-btn-option {
    padding: var(--btn-option-padding);
    border: 0;
    background-color: transparent;
    font-size: var(--btn-option-fs);
}

.calc-btn-theme {
    color: var(--btn-option-clr);
}

.calc-btn-history {
    position: absolute;
    right: calc(var(--padding) - var(--btn-option-padding));
    color: var(--btn-theme-selected-clr);
}

.calc-btn-history-clear,
.calc-btn-history-list-item {
    width: 100%;
    height: 100%;
    border: none;
    font-family: inherit;
    color: var(--btn-number-clr);
}

.calc-btn-history-list-item {
    padding: var(--padding);
    background-color: transparent;
    text-align: left;
}

.calc-btn-history-clear {
    --bgcolorPos: 0%;
    padding: 0;
    background-color: var(--output-bgclr);
    background: linear-gradient(to right, rgba(255, 0, 0, 0.4) 0%, rgba(255, 0, 0, 0.4) var(--bgcolorPos), var(--output-bgclr) var(--bgcolorPos));
    font-size: calc(0.5 * var(--btn-fs));
    transform: scale(1);
    transition: transform 200ms;
    user-select: none;
}

.calc-btn-history-clear:hover {
    transform: scale(1.07);
}

.calc-btn-option:hover,
.calc-btn-history-list-item:hover {
    background-color: var(--btn-option-hover-clr);
}

@media (hover:none) {
    .calc-btn-option:hover,
    .calc-btn-history-list-item:hover {
        background-color: transparent;
    }
}

.calc-btn-option:active,
.calc-btn-history-list-item:active {
    background-color: var(--btn-option-active-clr);
}

/*-------------------- CONTAINER --------------------*/

.calc {
    position: relative;
    overflow: hidden;
    width: var(--max-width);
    min-width: var(--max-width);
    border-radius: var(--border-radius);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);

    --padding: 1rem;
    --border-radius: 7px;
    --btn-option-fs: calc(0.625 * var(--btn-fs));
    --btn-option-padding: calc(var(--btn-option-fs) / 2);
    --btn-width: 3.6rem;
    --btn-padding: .5rem;
    --btn-margin: .25rem;
    --btn-fs: 2rem;
    --display-min-height: 1.4em;
    --max-width: calc(4 * var(--btn-width) + 8 * var(--btn-margin) + 2 * var(--padding));
    --history-options-height: 2.5em;
    --output-separation: .25em;

    --btn-number-clr: rgb(218, 218, 218);
    --btn-erase-clr: tomato;
    --btn-paren-clr: violet;
    --btn-equals-clr: rgb(117, 255, 186);
    --btn-operation-clr: #FCBE16;
    --btn-active-bgclr: rgba(255, 255, 255, 0.2);
    --btn-focus-visible-clr: white;
    --btns-bgclr: #2F2F2F;
    --btns-bg: linear-gradient( #2F2F2F, black);
    --options-bgclr: #2F2F2F;
    --btn-option-clr: rgba(255, 255, 255, 0.4);
    --btn-theme-selected-clr: rgb(235, 235, 235);
    --btn-option-hover-clr: rgb(90, 90, 90);
    --btn-option-active-clr: rgb(105, 105, 105);
    --output-bgclr: black;
    --output-clr: rgb(218, 218, 218);
    --output-border: gray;
}

.calc-options {
    display: flex;
    justify-content: center;
    padding: 0 var(--padding);
    background-color: var(--options-bgclr);
}

.calc-themes {
    display: flex;
}

.calc-btns {
    position: relative;
    background-color: var(--btns-bgclr);
    background: var(--btns-bg);
}

.calc-btn-row {
    display: flex;
    justify-content: center;
}

.calc-output,
.calc-btns {
    width: 100%;
    padding: var(--padding);
}

.calc-output {
    border-bottom: 2px solid var(--output-border);
    border-top: 2px solid var(--output-border);
    color: var(--output-clr);
    background-color: var(--output-bgclr);
    word-break: break-all;
}

.calc-expression-container {
    min-height: var(--display-min-height);
    margin-bottom: var(--output-separation);
    font-size: calc(0.75 * var(--btn-fs));
}

.calc-history {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: var(--max-width);
    min-width: var(--max-width);
    transform: translateY(100%);
    opacity: 0;
    transition: all 300ms;
}

.calc-history-list-container {
    overflow: auto;
    height: calc(100% - var(--history-options-height));
    background-color: var(--options-bgclr);
}

.calc-history-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.calc-history-list-item:not(:last-child) {
    border-bottom: 2px dashed var(--output-border);
}

.calc-history-options {
    overflow: hidden;
    height: var(--history-options-height);
    background-color: var(--output-bgclr);
    border-top: 2px solid var(--output-border);
}
