* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.github-info {
  margin: 2em 1em 1em;
  font-size: 1.1rem;
  text-align: center;
  line-height: 1.4;
}

.github-link {
  color: black;
}
